@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}
body {
    font-family: 'Raleway', sans-serif;
    padding:0;
    margin:0;
    background:#fff;
}

/* Logo in the header */
.image_logo {
    width:2.5em;
    height:2.5em;
    background-image: url(/images/logo/logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    transition-property: background-image;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.image_logo:hover {
    background-image: url(/images/logo/logo_inverted.svg);
}

/* menu collapsed button*/
.myCollapsedMenuBarIcon {
    width:2.5em;
    height:2.5em;
    background-image: url(/images/logo/menuBar.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
}
.myCollapsedMenuBarIcon:hover {
    background-image: url(/images/logo/menuBar_inverted.svg);
}

/* navigation */
.navbar {
    background:#560020ff;
}
.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    background: #f4f4f4;
    color: #560020ff;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-toggler {
    /*background:#fff !important;*/
    line-height: 0.6;
    border-radius:50%;
}


button:focus {
    outline: none;
}
button:active,.button:active:focus,.button:visited {
    outline: none;
}


/* header with image and description text */
.header {
    position: relative;
    background-image: url('/images/banner/headerbg_1024.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
}
/* header transparent overlay */
.rectangle {
    position: absolute;
    min-height: 30%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
/* description box */
.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1 {
/*    color:#560020ff;*/
    color:#fff;
    font-weight:semi-bold;
    font-family: 'Montserrat', sans-serif;
}
.description p {
    color:#fff;
    font-size: 16px;
    font-weight:normal;
    width: 100%;
    max-width:640px;
    line-height: 1.5;
    padding: 2em 0 1em 0;
}
.description button {
    background:#fff;
    color:#560020ff;
/*    background:#560020ff;*/
/*    color:#fff;*/
    border:none;
}
.btn btn-outline-secondary {
    background:#fff;
    color:#560020ff;
    border:none;
}


/* Main page parts: Home page, Philosophie, Angebote, Impressum, AGB */
.mainpageparts {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.mainpageparts h1 {
    color:#560020ff;
    margin: 1.6em 0 0 0;
    text-align:left;
}
.mainpageparts img {
    /*height: 100%;*/
    width: 100%;
    padding:2.5em 0 0 0.1em;
}
/* image caption left */
.mainpageparts span {
    /*display: block;*/
    text-align:left;
    color: #000;
    position: absolute;
    padding: 1em 0 0 0;
}
/* Text Block right side container */
/* vertical line */
.mainpageparts .desc {
    padding: 2.5em 1em 0 1em;
}
/* subheadings of the text block */
.mainpageparts .desc h3 {
    color: #560020ff;
    font-size:20px;
    font-weight:bold;
}
/* text of text block right side */
.mainpageparts .desc p {
    line-height:1.75;
    color:#000;
    padding-top:1em;
}


/* Galerie */
.galerie {
    margin: 4em 0;
    position: relative;
}
.galerie h1 {
    color:#560020ff;
    margin: 1em 0 1em 1.75em;
    text-align:left;
}
.galerie img {
  height: 15rem;
  width: 100%;
  margin: 0em;
}


/* reisevorschau – images as overview over available trips */
.reisen {
    margin: 4em 0;
    position: relative;
}
/* Unsere Reisen */
.reisen h1 {
    color:#560020ff;
    padding: 2em 0 0 0.1em;
}
.reisen .item {
    position: relative;
    overflow: hidden;
    padding:0em;
    padding-top:2em;
}
/* change cursor to pointer over image */
.item {
    cursor: pointer;
    padding-top:2em;
}
/* so that image size and caption width and overlay width match */
.pourtour {
    padding: 0.3em; /* := x */
    position:relative;
}
/* Reisetitel unter dem Reisebild */
/* x=0.3 */
.reisen .des {
    background: #560020ff;
    color: #fff;
    text-align: left;
    transition:.3s ease-in-out;
    position: absolute;
    width: calc( 100% - 0.6em ); /* 2x */
    max-width:500px;
    bottom: 24px;
    transform: translate( 0,-0.3em); /* x */
}
/* bordeaux overlay über dem Reisebild */
.reisen .item:hover .des {
    height: calc( 100% - 0.6em ); /* 2x */
    background:#5600204D;
    position: absolute;
    width:calc( 100% - 0.6em ); /* 2x */
    top: 0.6em; /* 2x */
    border-bottom-left-radius: 0;
}


/* einzelreisen reisedetails */
.reisedetails {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.reisedetails h1 {
    color:#560020ff;
    margin: 0em 0 0 0;
    text-align:left;
}
.reisedetails img {
    width: 100%;
    padding:2.5em 0 0 0.1em;
}
/* image caption left */
.reisedetails span {
    /*display: block;*/
    text-align:left;
    color: #000;
    position: absolute;
    padding: 1em 0em 0em 0em;
}
/* Text Block right side container */
/* vertical line */
.reisedetails .desc {
    padding: 2.5em 1em 0 1em;
    /*border-left:4px solid #671036;*/
}
/* subheadings of the text block */
.reisedetails .desc h3 {
    color: #560020ff;
    font-size:20px;
    font-weight:bold;
}
/* text of text block right side */
.reisedetails .desc p {
    line-height:1.75;
    color:#000;
    padding-top:1em;
}


/* Bildergalerie */
.bildergalerie {
    margin:0.1em 0 0.5em 0;
}
.thumb {
    margin-bottom: 1.5em;
}
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/* Kontakt */
.contact-form {
    margin: 6em 0;
    position: relative;
    padding: 2em 0 0 0;
}
/* Kontaktieren Sie uns */
.contact-form h1 {
    padding: 1.2em 0em 0.3em 0em;
    color: #560020ff;
}
.contact-form .right {
    padding: 3.2em 0 0.75em 0;
    max-width: 600px;
}
.contact-form .right .btn-secondary {
    background:  #560020ff;
    color: #fff;
    border:0;
}
.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}
#kontakt img {
    width: 100%;
}
#kontakt span {
    /*display: block;*/
    text-align:left;
    color: #000;
    position: absolute;
    padding: 1em 0 0 0;
}


/* CSS specific to iOS devices */ 
/* background-attachment: fixed; doesn't work on iOS */
@supports (-webkit-overflow-scrolling: touch) {
    .header {
        background-attachment: scroll;
    }
}
